/* This is styling for all components in this folder */
/* TODO: rename app-badge to app-blog-post-badge (same for responsive) to only control badge under this folder */

.app-blog-post:last-child {
	padding-bottom: 1rem;
}

.app-blog-post:last-child hr {
	display:none;
}

.app-badge {
	position: relative;
	top: -1px;
	margin-right: 0.25rem;
}

.app-badge:last-child {
	margin-right: 0;
}

@media only screen and (max-width:575px) { 
	.app-badge-responsive {
		margin-right: 0 !important;
		margin-bottom: 0.25rem;
		display: block;
	}

	.app-badge-responsive:last-child {
		margin-bottom: 0;
	}
}