@media only screen and (max-width:767px) {

	.app-admin-buttons-container button {
		display: block;
		width: 100%;
		margin-bottom: 0.5rem;
	}
	
	.app-admin-buttons-container button:last-child {
		margin-bottom: 0;
	}

}

/* Override bootstrap going block on small devices */
.form-inline .form-control {
	display: inline-block;
    width: auto;
    vertical-align: middle;
}